*{
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgba(12, 201, 226, 0.863)
}
.footer{
    display: flex;
    flex-direction: column;
    color: blueviolet;
}
.footer2{
    color: blueviolet;
    flex-direction: column-reverse;
}

